.concert-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.concert {
    padding: 10px;
    margin: 10px;
    background-color: rgb(250, 250, 250);
}

.concert:hover {
    transform: scale(1.02);
}

.btn-details {
    float: right;
}

a {
    text-decoration: none;
}
.search {
    text-align: center;
}

.search-field {
    width: 80%;

    ::ng-deep {
        .mat-form-field-flex {
            border-radius: 25px !important;
        }

        .mat-form-field-underline {
            display: none;
        }
    }
}