
<div class="page-content">
    <div>
        You own: {{ balance }} ETH
        <button mat-button
            (click)="withdraw()">
        Withdraw ETH
        </button>
    </div>
    <ng-container *ngFor="let sellerTickets of sellerTicketsMap | keyvalue">

        <div>
            Your ticket offers for concert: {{ sellerTickets.key }}
        </div>

        <div class="tickets">
            <ng-container 
                *ngFor="let listElem of sellerTickets.value">
        
                <ng-container *ngIf="listElem.ticket.seatNumber == 0; else numerable">
                    <mat-card class="ticket">
                        <mat-card-header>
                            <mat-card-title>
                                Sector: {{ listElem.ticket.sectorName }} 
                            </mat-card-title>
                            <mat-card-subtitle>
                                Sector without numerable seats
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div>
                                Price: {{ listElem.listing.price | weiToEth }} ETH
                            </div>
                            <div>
                                Minted / Not unique
                            </div>
                            <div>
                                Reseller:
                            </div>
                            <div>
                                {{ listElem.listing.seller }}
                            </div>
                            <div>
                                Amount: {{ listElem.listing.amount }}
                            </div>
                            <mat-card-actions>
                                <button mat-raised-button color="primary"
                                    class="btn-details"
                                    (click)="openEditForm()">
                                    EDIT 
                                </button>
                                <button mat-raised-button color="primary"
                                    class="btn-details"
                                    (click)="deleteOffer(sellerTickets.key, listElem.listing.tokenId)">
                                    DELETE
                                </button>
                            </mat-card-actions>

                            <ng-container *ngIf="openUpdateForm">
                                <div>
                                    <mat-form-field>
                                        <mat-label>Amount</mat-label>
                                        <input matInput type="number" [(ngModel)]="amount"
                                            min="1"
                                            [disabled]="listElem.listing.amount == 1">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Price* (1 token)</mat-label>
                                        <input matInput type="number" [(ngModel)]="price"
                                                min="0">
                                        <span matSuffix>  ETH</span>
                                    </mat-form-field>
                                    <div>
                                        *price contains 5% fee that will be charged for organizator
                                    </div>
                                </div>
                                
                                <button mat-raised-button color="primary"
                                class="btn-details"
                                (click)="updateOffer(sellerTickets.key, listElem.listing)">
                                    Update offer 
                                </button>
                            </ng-container>

                        </mat-card-content>
        
                    </mat-card>
                </ng-container> 
                <!-- NUMERABLE TICKETS -->
                <ng-template #numerable>        
                    <mat-card class="ticket">
                        <mat-card-header>
                            <mat-card-title>
                                Seat: {{ listElem.ticket.seatNumber }} 
                            </mat-card-title>
                            <mat-card-subtitle>
                                Sector: {{ listElem.ticket.sectorName }}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div>
                                Price: {{ listElem.listing.price | weiToEth }} ETH
                            </div>
                            <div>
                                Minted / Unique
                            </div>
                            <div>
                                Reseller:
                            </div>
                            <div>
                                {{ listElem.listing.seller }}
                            </div>
        
                            <mat-card-actions>
                                <button mat-raised-button color="primary"
                                    class="btn-details"
                                    (click)="openEditForm()">
                                    EDIT 
                                </button>
                                <button mat-raised-button color="primary"
                                    class="btn-details"
                                    (click)="deleteOffer(sellerTickets.key, listElem.listing.tokenId)">
                                    DELETE
                                </button>
                            </mat-card-actions>
                            <ng-container *ngIf="openUpdateForm">
                                <div>
                                    <mat-form-field>
                                        <mat-label>Price* (1 token)</mat-label>
                                        <input matInput type="number" [(ngModel)]="price"
                                                min="0">
                                        <span matSuffix>  ETH</span>
                                    </mat-form-field>
                                    <div>
                                        *price contains 5% fee that will be charged for organizator
                                    </div>
                                </div>
                                
                                <button mat-raised-button color="primary"
                                class="btn-details"
                                (click)="updateOffer(sellerTickets.key, listElem.listing)">
                                    Update offer 
                                </button>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
        
            </ng-container>
        </div> 

    </ng-container>


</div>