<h3>Provide details of each sector:</h3>
<div [formGroup]="form">

    <ng-container formArrayName="sectors">
        <ng-container *ngFor="let sectorForm of sectors.controls; let i = index">
            <div class="form" [formGroupName]="i">

                <mat-form-field appearance="fill"
                    class="form-full-width"
                >
                    <mat-label>Sector Name</mat-label>
                    <input matInput
                           formControlName="sectorName"
                           placeholder="Sector name">
                </mat-form-field>

                <mat-checkbox
                    class="form-full-width"
                    formControlName="isNumerable">
                    Numberable Seats
                </mat-checkbox>

                <ng-container *ngIf="this.sectors.getRawValue()[i].isNumerable">
                    <mat-form-field appearance="fill"
                        class="form-numbers"
                    >
                        <mat-label>Seats from</mat-label>
                        <input matInput
                            type="number"
                            formControlName="seatStart"
                            placeholder="Seat start"
                            [attr.disabled]="this.sectors.getRawValue()[i].isNumerable ? null : true">
                    </mat-form-field>
                </ng-container>
                
                <mat-form-field appearance="fill"
                    class="form-numbers"
                >
                    <mat-label>Seats to</mat-label>
                    <input matInput
                           type="number"
                           formControlName="seatStop"
                           placeholder="Seat stop">
                </mat-form-field>

                <mat-form-field appearance="fill"
                    class="form-numbers"
                >
                    <mat-label>Price (1 ticket)</mat-label>
                    <input matInput
                        class="input-price"
                        type="number"
                        formControlName="price"
                        floatLabel="always">
                    <span matSuffix>  ETH</span>
                </mat-form-field>

                <ng-container *ngIf="this.sectors.getRawValue()[i].isNumerable">
                    <mat-checkbox
                        class="form-full-width"
                        formControlName="mintNow"
                        checked="true"
                        >
                        Minted by organizator
                    </mat-checkbox>
                </ng-container>

                <mat-icon class="delete-btn" (click)="deleteSector(i)">
                    delete_forever
                </mat-icon>
            </div>
        </ng-container>
    </ng-container>

    <div class="nav-button">
        <button mat-mini-fab (click)="addSector()">
            <mat-icon>add</mat-icon>
        </button>

        <div class="sectors-btn">
            <button *ngIf="createConcertForm == true; else confirmButton"
                mat-button matStepperNext
                (click)="confirmSectors()"
            >
                Confirm sectors
            </button>
        </div>

        <ng-template #confirmButton>
            <button 
                mat-button
                (click)="confirmSectors()"
            >
                Confirm new sectors
            </button>
        </ng-template>
    </div>      
</div>
