.form {
  width: 100%;
}

.form-full-width {
  padding: 5px;
}

.form-numbers {
  width: 15%;
  padding: 5px;
}

input.input-price::-webkit-outer-spin-button,
input.input-price::-webkit-inner-spin-button{
  display: none;
}

.nav-button {
  padding: 10px;
}
.sectors-btn {
  margin-top: 10px;
}