<div class="nav-container">
    <button mat-raised-button [matMenuTriggerFor]="concerts" color="primary">
        <mat-icon>perm_data_setting</mat-icon>
        Concert Management
    </button>

    <mat-menu #concerts="matMenu">
        <button mat-menu-item
        (click)="goToConcertForm()"
            >
            <mat-icon>library_add</mat-icon>
            Create Concert</button>
        <button mat-menu-item
        (click)="goToMyConcerts()"
            >
            <mat-icon>event</mat-icon>
            My Concerts</button>
            <button mat-menu-item
        (click)="goToAdminPanel()"
            >
            <mat-icon>lock</mat-icon>
            Admin Panel</button>
    </mat-menu>

    <button mat-button
        class="btn-marketplace"
        (click)="goToMarketplace()">
        <mat-icon>home</mat-icon>
        tickeD MARKETPLACE
    </button>

    <button mat-raised-button [matMenuTriggerFor]="myAccount"
        color="primary">
        My Account
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #myAccount="matMenu">
        <button mat-menu-item color="primary"
        (click)="connectWallet()"
        >
        <mat-icon>account_balance_wallet</mat-icon>
        Connect wallet</button>
        <button mat-menu-item color="primary"
        (click)="goToMyNfts()"
        >
        <mat-icon> local_offer</mat-icon>
        My NFTs</button>        
        <button mat-menu-item color="primary"
        (click)="goToMyOffers()"
        >
        <mat-icon>shopping_cart</mat-icon>
        My Offers</button>
    </mat-menu>

</div>