<div class="nav-container">
    <button mat-button [matMenuTriggerFor]="concerts"
        >Concert Management</button>

    <mat-menu #concerts="matMenu">
        <button mat-menu-item
        (click)="goToConcertForm()"
            >Create Concert</button>
        <button mat-menu-item
        (click)="goToMyConcerts()"
            >My Concerts</button>
            <button mat-menu-item
        (click)="goToAdminPanel()"
            >Admin Panel</button>
    </mat-menu>

    <button mat-button
        class="btn-marketplace"
        (click)="goToMarketplace()">
        tickeD MARKETPLACE
    </button>

    <button mat-raised-button [matMenuTriggerFor]="myAccount"
        class="my-account" >
        My Account
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #myAccount="matMenu">
        <button mat-menu-item color="primary"
        (click)="connectWallet()"
        >Connect wallet</button>
        <button mat-menu-item color="primary"
        (click)="goToMyNfts()"
        >My NFTs</button>
    </mat-menu>

</div>