.sector-container {
    display: flex;
}

.sectors {
    flex-direction: row;
}   

.sector {
    padding: 10px;
    margin: 10px;
    background-color: rgb(250, 250, 250);
}

.tickets {
    display: flex;
    flex-direction: row; 
}

.sector:hover {
    transform: scale(1.02);
}

.btn-details {
    float: right;
}

a {
    text-decoration: none;
}

