<swiper
    [slidesPerView]="5"
    [spaceBetween]="20"
    [navigation]="true"
    [pagination]="{
      clickable: true
    }"
    [scrollbar]="{
        hide: true
    }"
    class="mySwiper"
    >
    <ng-template swiperSlide 
        *ngFor="let sector of sectors; let i=index">
        <mat-card class="sector"
            (click)="selectSector(i)">
            <mat-card-header>
            <mat-card-title>{{sector.name}}</mat-card-title>
            <mat-card-subtitle>
                <ng-container *ngIf="sector.isNumerable; else notNumerated">
                    <div> Capacity: {{sector.availableTokenIds.length}} </div>
                </ng-container>
                <ng-template #notNumerated>
                    <div> Capacity: {{ sector.seatStop }} </div>
                </ng-template> 
            </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="sector-content">
                <div> Ticket price: {{ sector.price | weiToEth }}ETH </div>
                <ng-container *ngIf="sector.isNumerable; else notNumerated">
                    <div> Seats from {{ sector.seatStart }} to {{ sector.seatStop }} </div>
                </ng-container>
                <ng-template #notNumerated>
                    <div> Capacity: {{ sector.seatStop }} </div>
                </ng-template>
            <!-- 
                <mat-card-actions>
                    <button mat-raised-button color="primary"
                        class="btn-details"
                    > Tickets &#8595;</button>
                </mat-card-actions> 
            -->
            </mat-card-content>
        </mat-card>
    </ng-template> 
    <!-- RESELLER OFFERS -->
    <ng-template swiperSlide>
        <mat-card class="sector"
            (click)="getResellersOffers()">
            <mat-card-header>
                RESELLERS OFFERS
            </mat-card-header>


        </mat-card>
    </ng-template>


</swiper>

<button mat-button
    (click)="showLayout()">
    Audience layout 
</button>

<app-standard-ticket
    [concertAddress]="concertAddress"
    [sector]="selectedSector">

</app-standard-ticket>
 
