<div class="page-content">
    <h2>
        Change user permissions
    </h2>
    <mat-form-field appearance="fill"
        class="toggle"
    >
        <mat-label>Choose permissions</mat-label>
        <mat-select [(ngModel)]="permission">
            <mat-option value="grant">Grant permissions</mat-option>
            <mat-option value="refuse">Refuse permissions</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="address-field" appearance="fill">
        <mat-label>Input wallet address</mat-label>
        <input matInput type="text" [(ngModel)]="address">
    </mat-form-field>

    <button mat-button
        color="primary"
        (click)="changePermissions()">
        Change permissions
    </button>

    <h2>
        Check user permissions
    </h2>
    <mat-form-field class="address-field" appearance="fill">
        <mat-label>Input wallet address</mat-label>
        <input matInput type="text" [(ngModel)]="checkAddress">
    </mat-form-field>
    <button mat-button
        color="primary"
        (click)="checkPermissions()">
        Check permissions
    </button>

    <div>
        <b>Wait for some time and Navigate through the header to see the changes.</b> <br/>
        Time Spent on seperate pages.
         <br/>
        <p *ngFor="let pageinfo of timeSpentOnPages">
        <b> pageName: </b>  {{pageinfo.pageUrl}} <br/>
        <b> timeSpent:</b>  {{moment.utc(pageinfo.timeSpent).format('H:mm:ss')}}<br/>
        <b> wallet: </b>  {{pageinfo.wallet}} <br/>
        </p>
    </div>
</div>
