<div class="page-content">
    <div>
        Here you can find your concerts:
    </div>

    <mat-card class="concert" *ngFor="let concert of deployedConcerts">
        <mat-card-header>
        <mat-card-title>{{concert.name}}</mat-card-title>
        <mat-card-subtitle>{{concert.contractAddress}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="concert-content">
            <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-log-in" 
            (click)="mintTickets(concert.contractAddress)"
            > Mint tickets and publish them! </button>
            </mat-card-actions>
        <div>
            You can still add some sectors, then you also have to mint them!
        </div>
            <app-sector
                (sectorsEvent)="addSectors($event, concert.contractAddress)"   
            ></app-sector>
        </mat-card-content>
    </mat-card>
</div>