.concert {
    padding: 10px;
    margin: 10px;
    background-color: rgb(250, 250, 250);
}

.concert-content {
    padding: 10px;
}
.btn-withdraw {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.btn-new-date {
    margin-left: 10px;
}