
<mat-stepper class="page-content">
    <mat-step [stepControl]="commonInf" label="Basic informations"
        class="step">
        <form [formGroup]="commonInf" class="form">
            <div>
                <mat-form-field appearance="fill"
                    class="form-full-width"
                >
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Concert name" formControlName="concertName">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill"
                    class="form-full-width"
                >
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Concert description" formControlName="concertDescription" >
                    </textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill"
                    class="form-full-width"
                >
                    <mat-label>Image of audience layout (URL)</mat-label>
                    <textarea matInput placeholder="URL" formControlName="concertImage" >
                    </textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill"
                    class="form-full-width"
                >
                    <mat-label>Date</mat-label>
                    <input matInput type="datetime-local" placeholder="Concert date" formControlName="concertDate">
                </mat-form-field>
            </div>
        </form>
        <div>
            <button mat-button matStepperNext>Apply</button>
        </div>
    </mat-step>
    <mat-step label="Specify sectors"
        class="step">
        <app-sector
            [createConcertForm]="true"
            (sectorsEvent)="addSectors($event)"    
        ></app-sector>

        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step label="Create concert smartcontract!">
        <mat-icon class="red-icon">warning</mat-icon>
        <div class="info-achtung">
            <b>
                Make sure that all data provider in previous tabs is correct! <br>
                Informations cannot be changed in future - except date.
            </b>
        </div>
        <button mat-raised-button color="primary" class="btn-log-in" 
        (click)="createConcert()"
        > Create Contract Concert</button>
    </mat-step>


</mat-stepper>



      