/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Snackbar styles */
.mat-simple-snackbar {
    font-size: 1.2em;
    color: white;
  }
  
  .snackbar-error {
    background-color: red;
  }
  
  .snackbar-success {
    background-color: green;
  }
  
  .snackbar-info {
    background-color: blue;
  }
  
.mat-button {
  background-color: rgb(240, 240, 240);
  margin: 5px !important;
}

.page-content {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.mat-horizontal-content-container {
  margin: auto;
}

.red-icon {
  color: red;
}

.green-icon {
  color: green; 
}

.red-icon-small {
  color: red;
  height: 16px !important;
  width: 16px !important;
  font-size: 14px;
  vertical-align: middle;
}

.green-icon-small {
  color: green;
  height: 16px !important;
  width: 16px !important;
  font-size: 14px;
  vertical-align: middle;
}

